<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include skiptocontent.html %}
    <div id="top" class="wrapper">
     {% include header.html %}
     
     {% include search.html %}
 
     <main id="maincontent" role="main">
      {{- content -}}
     </main>

    {% include footer.html %}
    
  </div><!-- END .wrapper -->

  <a class="skiptotop" href="#top">back to top</a>
  <script src="/assets/js/require.js"></script>
  {% if site.google_analytics %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ config.google_analytics[0] }}', '{{ config.google_analytics[1] }}');
          ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
